h1,
h2 {
  margin-bottom: 2rem;
}

.nutrition3 {
  height: 20rem;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.nutrition4 {
  width: 25rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.nutritionCounselingContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.nutritionCounselingBannerContainer {
  background-image: url(../SupportingDocuments/nutrition2.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.nutritionCounselingContainer p {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
