h1,
h2 {
  margin-bottom: 2rem;
}

.cuppingBannerContainer {
  background-image: url(../SupportingDocuments/cupping2.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.cupping3 {
  height: 25rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.cupping4 {
  width: 21rem;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.cuppingContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.cuppingContainer p {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
