h1,
h2 {
  margin-bottom: 2rem;
}

.guaSha3 {
  height: 20rem;
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.guaSha4 {
  width: 20rem;
  float: left;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.guaShaContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.guaShaBannerContainer {
  background-image: url(../SupportingDocuments/guaSha2.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.guaShaContainer p {
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
