.acupuncture2 {
  margin-right: 2rem;
  margin-bottom: 2rem;
  float: left;
  height: 25rem;
}

.acupuncture3 {
  margin-left: 2rem;
  margin-bottom: 2rem;
  float: right;
  height: 25rem;
}

.acupunctureContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.acupunctureContent p,
h2 {
  margin-bottom: 2rem;
}

.acupunctureBannerContainer {
  background-image: url(../SupportingDocuments/acupuncture4.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
