.links {
  display: flex;
  align-items: center;
}

.links a {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #fffef2;
}

.links :visited {
  text-decoration: none;
  color: #fffef2;
}

.links a :hover {
  cursor: pointer;
}

.loginButton {
  margin-left: 10rem;
}

.navBar {
  display: flex;
  background: #013220;
  box-shadow: 4px 2px 5px gray;
  color: #fffef2;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  position: relative;
}

.navBar button {
  background: transparent;
  border: 2px solid #fffef2;
  color: #fffef2;
  padding: 0.4rem 0.4rem;
}

.navBar button:hover {
  background: #fffef2;
  color: #013220;
  cursor: pointer;
}

.navLink {
  display: inline-block;
  margin-right: 2rem;
}

.brand {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  align-items: center;
}
