.links {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-right: 3rem;
}

.links a {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #fffef2;
}

.links :visited {
  text-decoration: none;
  color: #fffef2;
}

.links a :hover {
  cursor: pointer;
}

.loginButton {
  margin-left: 10rem;
}

.navBar {
  display: flex;
  background: #013220;
  color: #fffef2;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  position: relative;
  text-decoration: none;
}

.navBar button {
  background: transparent;
  border: none;
  color: #fffef2;
}

.navBar button:hover {
  color: #fffef2;
  cursor: pointer;
  filter: drop-shadow(0 0 1rem #ffffff);
}

.aboutNavLink,
.consultationNavLink,
.inventoryNavLink,
.newsletterNavLink,
.registerNavLink,
.treatmentsNavLink {
  display: inline-block;
  margin-right: 2rem;
}

.aboutNavLink:hover,
.consultationNavLink:hover,
.inventoryNavLink:hover,
.newsletterNavLink:hover,
.registerNavLink:hover,
.treatmentsNavLink:hover {
  filter: drop-shadow(0 0 1rem #ffffff);
}

.brand p {
  display: flex;
  cursor: pointer;
  font-size: 1.5rem;
  align-items: center;
  color: #fffef2;
  text-decoration: none;
}

.brand p:hover {
  color: #fffef2;
  text-decoration: none;
  filter: drop-shadow(0 0 1rem #ffffff);
}
