.title {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
}

.treatments {
  display: grid;
  grid-template-columns: 20rem 20rem 20rem;
  justify-content: center;
}

.acupuncture,
.herbalMedicine,
.nutritionCounseling,
.cupping,
.moxibustion,
.massage,
.guaSha,
.yoga {
  display: flex;
  margin: 1rem;
  padding: 3rem;
  text-align: center;
  justify-content: center;
  height: 20rem;
  color: #fffef2;
  font-size: 3rem;
  align-items: center;
  filter: grayscale(.75);
  background-size: cover;
}

.acupuncture:hover,
.herbalMedicine:hover,
.nutritionCounseling:hover,
.cupping:hover,
.moxibustion:hover,
.massage:hover,
.guaSha:hover,
.yoga:hover {
  filter: grayscale(0);
}

.acupunctureLink,
.herbalMedicineLink,
.nutritionCounselingLink,
.cuppingLink,
.moxibustionLink,
.massageLink,
.guaShaLink,
.yogaLink {
  display: flex;
  height: 20rem;
  align-items: center;
  width: 18rem;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #fffef2;
}

.acupuncture {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/acupuncture.jpg);
}

.herbalMedicine {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/herbs.jpg);
}

.nutritionCounseling {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/nutrition.jpg);
}

.cupping {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/cupping.jpg);
}

.moxibustion {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/moxibustion.jpg);
}

.massage {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/massage.jpg);
}

.guaSha {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/guasha.jpg);
}

.yoga {
  background-image: url(/Users/derekbohman/Documents/devCodeCamp/Homework/Capstone_Project/SupportingDocuments/yoga.jpg);
}
