.divider {
  margin-top: 0.5rem;
  border: 1px solid #fffef2;
  height: 75%;
  justify-content: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

footer {
  display: flex;
  position: relative;
  font-size: 0.5rem;
  text-align: center;
  width: 100%;
  background: #013220;
  box-shadow: 4px 2px 5px gray;
  color: #fffef2;
  justify-content: center;
  height: 4rem;
  padding-right: 2.5rem;
}

footer button {
  background: transparent;
  border: 2px solid #fffef2;
  color: #fffef2;
  padding: 0.4rem 0.5rem;
}

footer button:hover {
  background: #fffef2;
  color: steelblue;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
}

.contactInfo,
.instagram {
  display: flex;
  align-items: center;
}

.contactInfo,
.instagram a {
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: #fffef2;
}

.instagram :visited {
  text-decoration: none;
  color: #fffef2;
}

.instagram :hover {
  cursor: pointer;
  filter: drop-shadow(0 0 1rem #ffffff);
}
