h1,
h2 {
  margin-bottom: 2rem;
}

.moxibustion3 {
  margin-left: 2rem;
  margin-bottom: 2rem;
  float: right;
  height: 20rem;
}

.moxibustion4 {
  margin-right: 2rem;
  margin-bottom: 2rem;
  float: left;
  height: 20rem;
}

.moxibustionContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.moxibustionContainer p {
  margin-bottom: 2rem;
}

.moxibustionBannerContainer {
  background-image: url(../SupportingDocuments/moxibustion2.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}
