.homeBannerContainer {
  background-image: url(./SupportingDocuments/welcome.jpg);
  height: 25rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 2rem;
}

.homeContainer {
  align-items: center;
  margin-left: 16rem;
  margin-right: 16rem;
}

.homeSpacer {
  height: 3.45rem;
}

ul {
  list-style: none;
}
